/*==========  section home ==========*/
.home {
  padding: 245px 0;
  position: relative;
  z-index: 1;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff; }
  .home:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 1; }
  .home h1 {
    max-width: 875px;
    margin: 0 auto;
    font-size: 80px; }
  .home .container {
    position: relative;
    z-index: 2; }

.home-content {
  text-align: center;
  width: 100%; }

.slogan {
  font-size: 32px;
  margin: 33px auto 64px; }

.section-parallax-video {
  z-index: -1; }

.fullscreen-bg__video {
  position: fixed;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.booking-box iframe {
  width: 100%; }

/*==========  section home end  ==========*/
/*==========  section advantages ==========*/
.advantages {
  padding: 186px 0 152px;
  position: relative;
  overflow: hidden; }
  .advantages h2 {
    margin: 0 auto 33px;
    max-width: 675px;
    line-height: 1.2; }
  .advantages .text-subtitle {
    margin: 0 auto 64px; }

.advantages-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 24px 0 rgba(14, 14, 14, 0.58);
          box-shadow: 0 0 24px 0 rgba(14, 14, 14, 0.58);
  background: rgba(255, 255, 255, 0.9);
  padding: 67px 40px 46px;
  text-align: center;
  line-height: 1.18;
  font-size: 17px; }
  .advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 31px;
    height: 50px; }
    .advantages-box__icon img {
      max-height: 100%; }
  .advantages-box__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    opacity: 0;
    border-radius: 30px; }
  .advantages-box:hover .advantages-box__bg {
    opacity: 1; }

/*==========  section advantages end  ==========*/
/*==========  section cottages ==========*/
.cottages {
  overflow: hidden; }
  .cottages .text-subtitle {
    margin: 0 auto 90px; }

.title-wrapper {
  text-align: center;
  position: relative;
  padding: 90px 260px 0; }
  .title-wrapper h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 25px; }
    .title-wrapper h2 img {
      margin: 0 20px; }

.sales-box {
  position: absolute;
  right: 0;
  top: 13px;
  text-align: center;
  width: 246px;
  height: 235px;
  background: url("../img/decor-label.png") no-repeat center;
    background-size: 100%;
  padding: 124px 40px 32px;
  font-size: 18px;
  line-height: 1.11;
  font-weight: bold;
  color: #fff; }

.cottages-section {
  margin: 0 0 80px;
  position: relative; }
  .cottages-section .slick-arrow {
    z-index: 3; }
  .cottages-section:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    z-index: 1; }
  .cottages-section .slick-prev {
    left: 70px;
    opacity: 0; }
  .cottages-section .slick-next {
    right: 70px;
    opacity: 1; }
  .cottages-section .btn-play-abs {
    top: -10px; }
  .cottages-section .box-gallery {
    margin: 0 auto 0 0; }

.cottages-section-reverse .slick-next {
  opacity: 0; }

.cottages-section-reverse .slick-prev {
  opacity: 1; }

.cottages-section-reverse:before {
  left: auto;
  right: 0; }

.cottages-section-reverse .cottages-slider {
  padding: 0 15px 0 0; }
  .cottages-section-reverse .cottages-slider:after {
    right: auto;
    left: 0;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(white));
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, white 100%); }

.cottages-section1:before {
  height: 1210px;
  width: 334px;
  background: url("../img/cottage-figure1.png") no-repeat center;
    background-size: 100%; }

.cottages-section2:before {
  background: url("../img/cottage-figure2.png") no-repeat center;
    background-size: 100%;
  width: 945px;
  height: 2008px; }

.cottages-section3:before {
  width: 362px;
  height: 908px;
  background: url("../img/cottage-figure3.png") no-repeat center;
    background-size: 100%; }

.cottages-section4:before {
  width: 719px;
  height: 1752px;
  background: url("../img/cottage-figure4.png") no-repeat center;
    background-size: 100%; }

.cottages-section5:before {
  width: 523px;
  height: 943px;
  background: url("../img/cottage-figure5.png") no-repeat center;
    background-size: 100%; }

.cottages-section6:before {
  width: 716px;
  height: 2120px;
  background: url("../img/cottage-figure6.png") no-repeat center;
    background-size: 100%; }

.cottages-slider {
  position: relative;
  z-index: 2;
  padding: 0 0 0 15px; }
  .cottages-slider .slide {
    margin: 20px 40px 20px 0; }
  .cottages-slider:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    height: calc(100% - 40px);
    width: 335px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
    z-index: 2; }

.cottages-slider__img {
  width: 680px;
  height: 481px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 21px 0 rgba(14, 14, 14, 0.21);
          box-shadow: 0 0 21px 0 rgba(14, 14, 14, 0.21);
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .cottages-slider__img:hover img {
    opacity: .3; }
  .cottages-slider__img img {
    border-radius: 30px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.dropdown-tooltip {
  position: absolute;
  top: 132px;
  left: 58px; }
  .dropdown-tooltip:hover .dropdown-tooltip-wrapper {
    display: block; }

.dropdown-tooltip-wrapper {
  margin: 0 0 0 76px;
  border-radius: 25.5px;
  -webkit-box-shadow: 5px 8.7px 24px 0 rgba(14, 14, 14, 0.35);
          box-shadow: 5px 8.7px 24px 0 rgba(14, 14, 14, 0.35);
  background-color: rgba(41, 43, 47, 0.92);
  max-width: 290px;
  width: 100%;
  min-width: 290px;
  color: #fefefe;
  line-height: 1.29;
  padding: 24px 25px;
  font-size: 17px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 80px;
  display: none; }

.dropdown-tooltip-dots {
  border: solid 2px #68ce63;
    border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26px;
  height: 26px; }
  .dropdown-tooltip-dots:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #68ce63;
    width: 18px;
    height: 18px; }

.dropdown-tooltip2 {
  right: 100px;
  bottom: 193px;
  top: auto;
  left: auto; }
  .dropdown-tooltip2 .dropdown-tooltip-wrapper {
    left: auto;
    right: 80px; }

.cottages-slider__content {
  width: 472px;
  padding: 0 21px 0 0;
  position: relative; }
  .cottages-slider__content h3 {
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 31px; }
  .cottages-slider__content .box-text {
    color: #999;
    font-size: 17px;
    line-height: 1.47;
    max-width: 441px;
    width: 100%;
    margin: 0 auto 0 0; }
    .cottages-slider__content .box-text p {
      margin: 0 0 30px; }
      .cottages-slider__content .box-text p:last-child {
        margin: 0; }
  .cottages-slider__content .btn {
    margin: 50px auto 0 0; }

/*==========  section cottages end  ==========*/
/*==========  section services ==========*/
.services {
  padding: 129px 0 89px;
  color: #fff;
  background: #292b2f; }
  .services .text {
    margin: 39px 0 0;
    line-height: 1.47;
    font-size: 17px; }

.services-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 400px;
  border-radius: 30px;
  z-index: 1;
  padding: 24px 23px;
  background: #000;
  -webkit-box-shadow: 0 0 24px 0 rgba(14, 14, 14, 0.72) inset;
          box-shadow: 0 0 24px 0 rgba(14, 14, 14, 0.72) inset; }
  .services-card__img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .services-card__body {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .services-card .btn {
    margin: 28px 0 0 0; }
  .services-card .box-text {
    margin: 21px 0 0;
    display: none;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .services-card__title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    max-width: 100px;
    margin-left: auto;
    text-align: right; }
    .services-card__title.text-left {
      margin-left: 0;
      text-align: left; }
    .services-card__title:hover {
      color: #68ce63; }
  .services-card:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(black));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, black 100%);
    border-radius: 30px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .services-card:hover .services-card__title {
    margin-left: 0;
    text-align: left; }
  .services-card:hover:before {
    opacity: 1; }
  .services-card:hover .box-text {
    display: block; }

.services-card-row {
  min-height: 300px;
  padding: 31px 37px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .services-card-row .services-card__title {
    max-width: none; }

/*==========  section services end  ==========*/
/*==========  section territory-complex ==========*/
.territory-complex {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .territory-complex:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 494px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.73)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.73) 0%, rgba(255, 255, 255, 0) 100%); }
  .territory-complex h2 {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    padding: 79px 0;
    text-align: center;
    z-index: 1;
    color: #fff; }
  .territory-complex img {
    width: 100%; }

/*==========  section territory-complex end  ==========*/
/*==========  section contacts ==========*/
.contacts {
  position: relative;
  width: 100%;
  padding: 76px 0 74px; }

.contacts-box {
  position: relative;
  z-index: 1;
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin-left: auto;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 24px 0 rgba(14, 14, 14, 0.1);
          box-shadow: 0 0 24px 0 rgba(14, 14, 14, 0.1);
  padding: 49px 90px 52px 50px; }
  .contacts-box h3 {
    margin: 0 0 34px; }

.contacts-box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px;
  color: #999;
  font-size: 17px;
  line-height: 1.47; }
  .contacts-box-item a {
    color: #999; }
    .contacts-box-item a:hover {
      color: #68ce63; }
  .contacts-box-item:last-child {
    margin: 0; }
  .contacts-box-item__icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #68ce63;
    border-radius: 50%;
    margin-right: 22px; }

.social-box {
  margin: 37px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #292b2f; }
  .social-box p {
    margin-right: 22px; }
  .social-box .list-social li {
    margin: 0 10px 0 0; }

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.ymaps-layers-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

/*==========  section contacts end  ==========*/
/*==========  section contacts page  ==========*/
.contacts-page {
  padding: 127px 0; }

.contacts-information {
  padding: 90px 0 0; }
  .contacts-information h3 {
    margin: 0 0 19px; }
  .contacts-information .contacts-box-item {
    color: #000; }
    .contacts-information .contacts-box-item a {
      color: #000; }
  .contacts-information .social-box {
    margin: 0; }
    .contacts-information .social-box p {
      width: 100%;
      margin: 0 0 15px; }

.callback-information {
  padding: 90px 0; }
  .callback-information .form {
    max-width: 616px;
    margin: 0; }
  .callback-information .map {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 414px;
    border-radius: 30px;
    overflow: hidden;
    margin-left: auto; }
  .callback-information .text {
    margin: 12px 0 20px; }
  .callback-information form button {
    max-width: 300px; }

.form-group {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form-group label {
    width: calc(50% - 8px); }

/*==========  section contacts page end  ==========*/
/*==========  section gallery-home  ==========*/
.gallery-section {
  padding: 80px 0 100px;
  height: auto; }
  .gallery-section .text-subtitle {
    margin: 34px auto 60px; }
  .gallery-section .cottages-section:before {
    display: none; }

/*==========  section gallery-home end  ==========*/
/*==========  section equipment rental  ==========*/
.equipment-rental-home h1 {
  max-width: none; }

.equipment-rental-advantages h2 {
  max-width: none; }

.advantages-box-v2 {
  padding: 35px 10px 30px; }

.callback-section {
  padding: 175px 0;
  position: relative;
  color: #fff;
  z-index: 1;
  background: #000; }
  .callback-section__bg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
    opacity: .3; }
  .callback-section .text-subtitle {
    margin: 34px auto 49px;
    max-width: 900px; }
  .callback-section h2 {
    max-width: 610px;
    margin: 0 auto; }

.form-callback button {
  width: 100%; }

.consent {
  text-align: center;
  margin: 18px auto 0;
  color: #999;
  font-size: 14px; }

.general-information {
  padding: 106px 0 100px; }
  .general-information .text-subtitle {
    margin: 34px auto 49px; }
  .general-information h3 {
    margin: 0 0 30px; }
  .general-information .box-text {
    color: #999;
    font-size: 17px;
    max-width: 390px;
    width: 100%; }
    .general-information .box-text p {
      margin: 0 0 27px; }
      .general-information .box-text p:last-child {
        margin: 0; }
  .general-information .image-box {
    max-width: 680px;
    margin: 0 0 0 auto; }

.image-box {
  overflow: hidden;
  width: 100%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .image-box img {
    width: 100%; }

.image-gallery {
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
  margin: 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .image-gallery img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.image-gallery-1 {
  height: 300px; }

.image-gallery-2 {
  height: 500px; }

.category-technical .btn-play {
  margin: 30px auto 0 0; }

.category-technical .text-subtitle {
  margin: 35px auto 50px; }

.category-technical .cottages-section:before {
  display: none; }

.instagram-history {
  padding: 100px 0 0; }

.instagram-history-box {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 30px;
  color: #fff; }
  .instagram-history-box:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(25deg, black 0%, rgba(255, 255, 255, 0) 100%); }
  .instagram-history-box__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .instagram-history-box__content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 28px 31px; }
    .instagram-history-box__content .box-text {
      margin: 14px 0 29px;
      font-size: 17px;
      display: none;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
    .instagram-history-box__content h4 {
      font-weight: 600;
      font-size: 24px; }
  .instagram-history-box__footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: none;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .instagram-history-box .btn-play {
    margin: 0; }
  .instagram-history-box:hover:before {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(black));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, black 100%); }
  .instagram-history-box:hover .box-text, .instagram-history-box:hover .instagram-history-box__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

/*==========  section equipment rental end  ==========*/
/*==========  page palace-culture  ==========*/
.street-section {
  padding: 0 0 60px; }
  .street-section .title-wrapper {
    padding: 100px 0 53px; }

.outside-section {
  padding: 0 0 70px; }
  .outside-section .title-wrapper {
    padding: 103px 0 0; }
  .outside-section .text-subtitle {
    margin: 34px auto 52px; }

.instagram-history-box-v2 {
  height: 500px; }

.callback-section-v2 {
  padding: 182px 0;
  color: #292b2f; }
  .callback-section-v2 .neiros-booking {
    margin: 0 auto; }
  .callback-section-v2 .title-wrapper {
    padding: 0; }
  .callback-section-v2 .sales-box {
    top: -182px;
    right: -15px; }
  .callback-section-v2 .callback-section__bg {
    opacity: 1; }
  .callback-section-v2 .text-subtitle {
    max-width: 1085px;
    margin: 34px auto 45px; }
  .callback-section-v2 h2 {
    max-width: 760px; }

.gallery-hidden {
  display: none; }

.horizontal-scroll-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0 0;
  -webkit-transition: 0.34s linear;
  transition: 0.34s linear; }
  .horizontal-scroll-wrapper::-webkit-scrollbar {
    background: rgba(41, 43, 47, 0.2);
    width: 100%;
    height: 6px;
    border-radius: 3px; }
  .horizontal-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #292b2f;
    border-radius: 3px; }
  .horizontal-scroll-wrapper .box-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.gallery-box {
  white-space: normal;
  width: 800px;
  min-width: 800px;
  height: 600px;
  margin: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 21px 0 rgba(14, 14, 14, 0.21);
          box-shadow: 0 0 21px 0 rgba(14, 14, 14, 0.21);
  position: relative;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background: #000;
  color: #fff; }
  .gallery-box:before {
    content: '+';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 60px;
    z-index: 1;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    display: none; }
  .gallery-box:hover {
    margin-top: -10px;
    color: #fff; }
    .gallery-box:hover img {
      opacity: .6; }
    .gallery-box:hover:before {
      display: block; }
  .gallery-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

/*==========  page palace-culture end  ==========*/
/*==========  page classic  ==========*/
.home-classic h1 {
  max-width: none; }

.cottages-section-white .cottages-slider__content {
  color: #fff;
  position: relative;
  width: 600px; }
  .cottages-section-white .cottages-slider__content .box-text {
    max-width: 510px;
    color: #fff; }

.cottages-section-white .cottages-slider:after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#292b2f));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #292b2f 100%); }

.cottages-section-white .cottages-slider .slick-arrow {
  background: rgba(255, 255, 255, 0.1); }

.cottages-section-white.cottages-section-reverse .cottages-slider:after {
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#292b2f));
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #292b2f 100%); }

.category-classic {
  padding: 100px 0 52px; }
  .category-classic .btn-scroll {
    margin: 0 auto; }

.category-classic-section {
  padding: 78px 0 0; }

/*==========  page classic end  ==========*/
/*==========  section equipment rental  ==========*/
/*==========  section equipment rental end  ==========*/
/*==========  section equipment rental  ==========*/
/*==========  section equipment rental end  ==========*/
/*==========  section equipment rental  ==========*/
/*==========  section equipment rental end  ==========*/
/*==========  section equipment rental  ==========*/
/*==========  section equipment rental end  ==========*/
/*==========  section equipment rental  ==========*/
/*==========  section equipment rental end  ==========*/
/*==========  section equipment rental  ==========*/
/*==========  section equipment rental end  ==========*/
/*==========  section equipment rental  ==========*/
/*==========  section equipment rental end  ==========*/
/*==========  section equipment rental  ==========*/
/*==========  section equipment rental end  ==========*/
