@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block


blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal
  background: #fff
  color: #000

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none
  width: fit-content
  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  padding: 0 33px
  box-sizing: border-box
  font-family: $default-font
  border: none
    radius: 30px
  width: 100%
  height: 60px
  background: #f6f6f6
  font-size: 14px
  color: #000
  &::placeholder
    color: #999
  &:hover, &:focus
    outline: none
    box-shadow: none

textarea
  padding: 25px 24px
  height: 130px
  resize: none

.checkbox
  display: flex
  align-items: center
  color: #999
  font-size: 14px
  cursor: pointer

.checkbox-custom
  position: relative
  @include d-flex
  margin: 0 14px 0 0
  width: 30px
  height: 30px
  min-width: 30px
  border-radius: 50%
  background: #f6f6f6
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    width: 16px
    height: 11px
    transition: .3s ease

.inp-checkbox
  display: none
  &:checked
    ~.checkbox-custom
      &:before
        background: url("../img/check-grey.png") no-repeat center
          size: 100%

label
  display: block
  width: 100%
  margin: 0 0 16px
  &:last-child
    margin: 0

button, .btn
  outline: none
  transition: .3s ease
  cursor: pointer
  box-shadow: none
  font-family: $default-font
  padding: 0
  margin: 0
  border: none
    radius: 0

  &:hover, &:focus
    outline: none
    box-shadow: none

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  border-radius: 30px
  font-size: 18px
  font-weight: bold

.btn-accent
  color: #fff
  background: $accent
  height: 61px
  padding: 0 42px
  &:hover
    background: $hover
    color: inherit

.svg-icon
  display: inline-block
  width: 100%
  height: 100%

strong, b
  font-weight: bold
  display: inline-block

ul, ol
  padding: 0 0 0 20px

.my-ul
  list-style: none
  padding: 0

.wrapper
  padding: 70px 0 0
  width: 100%


.container
  max-width: 1200px

h1
  width: 100%
  font-size: 40px
  font-weight: 600

h2
  width: 100%
  font-size: 40px
  font-weight: 600

h3
  width: 100%
  font-size: 26px
  font-weight: 600

.mb-52
  margin-bottom: 52px

.mb-40
  margin-bottom: 40px

.mb-30
  margin-bottom: 30px

.color-white
  color: #fff

a.color-white
  &:hover
    color: $accent

.logo
  @include d-flex

.list-social
  @include d-flex
  flex-wrap: wrap
  li
    margin: 0 20px 0 0
    &:last-child
      margin: 0
    a
      @include d-flex

.text-subtitle
  font-size: 22px
  width: 100%


.slick-slider
  width: 100%

.slick-arrow
  opacity: 1
  @include d-flex
  border-radius: 50%
  width: 60px
  height: 60px
  background: rgba(#292b2f, .43)
  position: absolute
  z-index: 1
  top: 50%
  &:hover
    background: #292b2f

.slick-next
  right: 70px

.slick-prev
  left: 70px

.slick-disabled
  opacity: 0
